//* Properties
$opacity: .8;

//* Colors
$blue: #7C6EEB;
$_blue: rgba($blue, $opacity);
$red: #ff6752;
$white: #ffece1;


//* Custom
$base-size: 10px;

//* Animations
$fadeIn-duration: 2.5s;

//*Functions
@function em($value){
    @return $value * $base-size
}